; TemperatureRestService 2.0 configuration

dispatch.url = "" ; full URL for application, so dispatcher can work
dispatch.views = "./views" ; a folder where are views

sensors.apikey = "abcdef" ; an APIKEY client must sent before data will be updated
sensors.data = "./data" ; a folder where flat file about sensors are stored